#advanced {
			width: 200px;
			height: 200px;
			
			background-image: -moz-radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
			background-image: -webkit-radial-gradient(45px 45px, circle cover, yellow, orange);
			background-image: radial-gradient(45px 45px 45deg, circle cover, yellow 0%, orange 100%, red 95%);
			
			
			/* webkit chrome, safari, mobile */
			  -webkit-animation-name: spin; 
			  -webkit-animation-duration: 3s; /* 3 seconds */
			  -webkit-animation-iteration-count: infinite; 
			  -webkit-animation-timing-function: linear;
		}